{{ define "subscriber-optin" }}
{{ template "header" . }}

<p>
    {{ L.Ts "email.optin.confirmSubWelcome" }} {{ .Subscriber.FirstName }},
</p>

<p>
    We appreciate you connecting with us and we're excited to share Mokz updates with you! 😆🎉
</p>
<p style="margin-top: 0px;">
    -Paul Yun, Founder
</p>

<p style="margin-top: 36px; font-style: italic; color: #777;">
    Confirm to receive updates.
</p>

<p style="margin-top: -10px;">
    <a href="{{ .OptinURL }}" class="button">{{ L.Ts "email.optin.confirmSub" }}</a>
</p>
<div style="margin-top: 36px; border-bottom: 1px solid #eee;"></div>
<p style="font-size: 12px; color: #777;">
    <span style="font-weight: 600;">“The secret of getting ahead is getting started.”</span>
    <span style="font-weight: 400;"> -Mark Twain</span>
</p>

{{ template "footer" . }}
{{ end }}
