{{ define "subscriber-optin" }}
{{ template "header" . }}

<p>
    {{ L.Ts "email.optin.confirmSubWelcome" }} {{ .Subscriber.FirstName }},
</p>

<p>
    We appreciate you keeping tabs on Mokz.ai and we're excited to be connected to you 😆🎉
</p>

<p>
    Confirm below to receive updates.
</p>

<p style="margin-top: 40px;">
    <a href="{{ .OptinURL }}" class="button">{{ L.Ts "email.optin.confirmSub" }}</a>
</p>

<p style="font-size: 12px; margin-top: 40px; color: #777; line-height: 1.5;">
    <span style="font-weight: 600;">“The secret of getting ahead is getting started.”</span>
    <span style="font-weight: 500;"> -Mark Twain</span>
</p>

{{ template "footer" . }}
{{ end }}
