{{ define "optin" }}
{{ template "header" .}}

<!-- placeholder for height -->
<h2>&nbsp;</h2>
<div>&nbsp;</div>
<p>
    <a href="" class="button" id="btn-back">{{ L.T "globals.buttons.back" }}</a>
</p>

<section style="display: none;">
    <h2>{{ L.T "public.confirmSubTitle" }}</h2>
    <p>
        {{ L.T "public.confirmSubInfo" }}
    </p>

    <form method="post" class="optin-form">
        <ul>
            {{ range $i, $l := .Data.Lists }}
                <input type="hidden" name="l" value="{{ $l.UUID }}" />
                {{ if eq $l.Type "public" }}
                    <li>{{ $l.Name }}</li>
                {{ else }}
                    <li>{{ L.Ts "public.subPrivateList" }}</li>
                {{ end }}
            {{ end }}
        </ul>
        <p>
            <input type="hidden" name="confirm" value="true" />
            <button type="submit" class="button" id="btn-unsub">
                {{ L.Ts "public.confirmSub" }}
            </button>
        </p>
    </form>
</section>

<!-- auto submits form -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector(".optin-form").submit();
    });
</script>

{{ template "footer" .}}
{{ end }}